<div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <app-header></app-header>
    </ul>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
 
            <div class="container">

                <div class="row my-3">
                    <!-- <div class="col-12 mb-2 text-end">
                          <button type="button" class="btn btn-sm btn-primary" (click)="rerender()">reload</button>  
                        <button type="button" class="btn btn-sm btn-primary" (click)="open(content)">Add New</button>

                    </div> -->
                    <div class="col-12">
                        <div><strong>REQUEST HOLIDAY</strong></div>
                        <div class="card shadow my-4">
                           
                            <div class="card-body">
                                <table class="table table-sm">
                                    <thead>
                                        <tr>
                                            <th (click)="fnCheckAll()">
                                                <span *ngIf="checkAll == true "> <i class="bi bi-check-square-fill"></i> </span> 
                                                <span *ngIf="checkAll != true ">  <i class="bi bi-square"></i> </span> 
                                            </th>
                                            <th>Personal Id</th>
                                            <th>ShiftId</th>

                                            <th>Date</th>
                                            <th>Note</th>
                                            <th>Input Date</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let x of items; let i = index">
                                            <td (click)="fnCheck(x, i)">
                                                <span *ngIf="x.check == true "> <i class="bi bi-check-square-fill"></i> </span>

                                                <span *ngIf="x.check == '' ">  <i class="bi bi-square"></i> </span>
                                               
                                             </td>
                                            <td>{{x.personalId}}</td>
                                            <td>{{x.shiftName}} ({{x.shiftId}}) </td>

                                            <td>{{x.date}}</td>
                                            <td>{{x.note}}</td>
                                            <td>{{x.inputDate}}</td> 
                                        </tr>
                                    </tbody>
                                  
                                </table>

                                <div class="my-2">
                                    <div class="row">
                                        <div class="col">
                                            <button type="button" class="btn btn-sm btn-light" (click)="back()">Back</button>
                                        </div>
                                        <div class="col text-end"> 
                                            <button type="button" class="btn btn-sm btn-danger mx-1" (click)="fnApprove(-1)">Reject</button>
                                            <button type="button" class="btn btn-sm btn-primary mx-1"  (click)="fnApprove(1)">Approve</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                    </div>
                </div>
 

            </div>

        </div>



    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

 