<div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <app-header></app-header>
    </ul>


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <div class="container">
                <div class="row">

                    <div class="col-12 mt-3">
                        <button type="button" class="btn btn-sm btn-outline-dark" (click)="back()">Back</button>
                    </div>

                </div>

                <div class="row  ">

                    <div class="col-12 mt-2">
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <div class="row">
                                    <div class="col">
                                        <h6 class="m-0 font-weight-bold text-primary"> SCHEDULE </h6>
                                    </div>
                                    <div class="col text-end" *ngIf="nextSchedule.expired == false">
                                        <button type="button" class="btn btn-sm btn-outline-dark"
                                            (click)="open(content);">Add First Schedule</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-sm">
                                    <thead>
                                        <tr>
                                            <th>Ticket ID</th>
                                            <th>Schedule Date</th>
                                            <th>Supplier</th>
                                            <th>Status</th>
                                            <th class="text-end">Cost</th>
                                            <th>Note</th>
                                            <th></th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let x of schedule">
                                            <td>{{x.id}}</td>
                                            <td>{{x.scheduleDate}}</td>

                                            <td>{{x.supplier}}</td>

                                            <td>{{x.statusName}}</td>

                                            <td class="text-end">Rp {{x.cost | number}}</td>
                                            <td>{{x.note}}</td>
                                            <td><button type="button" class="btn btn-sm btn-danger mx-1"
                                                    *ngIf="x.status != 100" (click)="fnDeleteTrans(x);">Delete</button>

                                                <button type="button" class="btn btn-sm btn-primary mx-1"
                                                    [hidden]="x.status != 1"
                                                    (click)="openScheduleDetail(openSchadule,x);">Done</button>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
  
                    <div class="col-12 mt-3">
                        <div class="card shadow mb-3">

                            <div class="card-header py-3">
                                <div class="row">
                                    <div class="col">
                                        <h6 class="m-0 font-weight-bold text-primary"> DETAIL </h6>
                                    </div>
                                    <div class="col text-end">
                                        <button type="button" *ngIf="editable == false"
                                            class="btn btn-sm btn-warning mx-1"
                                            (click)="editable=true;">Editable</button>

                                        <button type="submit" *ngIf="editable == true"
                                            class="btn btn-outline-dark btn-sm mx-1" (click)="cancel()">Cancel</button>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body">
                                <div *ngIf="editable == false">
                                    <div class="row g-2">

                                        <div class="col-6">
                                            <table class="table table-sm border">
                                                <tbody>
                                                    <tr>
                                                        <td><b>ID</b></td>
                                                        <td>{{item.id}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Equipment</b></td>
                                                        <td>{{item.equipment}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Category</b></td>
                                                        <td>{{item.category}}</td>
                                                    </tr>

                                                    <tr>
                                                        <td><b>Brand</b></td>
                                                        <td>{{item.brand}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Serial Number</b></td>
                                                        <td>{{item.serialNumber}}</td>
                                                    </tr>

                                                    <tr>
                                                        <td><b>Type</b></td>
                                                        <td>{{item.typeItem}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Location</b></td>
                                                        <td>{{item.location}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-6">
                                            <table class="table table-sm border">
                                                <tbody>
                                                    <tr>
                                                        <td><b>Capacity</b></td>
                                                        <td>{{item.capacity}}</td>
                                                    </tr>

                                                    <tr>
                                                        <td><b>Spare Part</b></td>
                                                        <td>{{item.sparepart}}</td>
                                                    </tr>

                                                    <tr>
                                                        <td><b>Schedule</b></td>
                                                        <td>Every {{item.schedule}} Month</td>
                                                    </tr>

                                                    <tr>
                                                        <td><b>Purchase Date</b></td>
                                                        <td>{{item.purchaseDate}}</td>
                                                    </tr>

                                                    <tr>
                                                        <td><b>Waranty Until</b></td>
                                                        <td>{{item.warantyUntil}}</td>
                                                    </tr>

                                                    <tr>
                                                        <td><b>Supplier</b></td>
                                                        <td>{{item.supplier}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Desciption</b></td>
                                                        <td>{{item.description}}</td>
                                                    </tr>


                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>

                                <form (ngSubmit)="onSubmit()" #heroForm="ngForm" *ngIf="editable == true">
                                 
                                    <div class="row g-2">
                                        <div class="col-6">
                                            <div class="mb-3">
                                                <div class="form-group">
                                                    <label for="equipment">Equipment <span
                                                            class="text-danger">*</span></label>
                                                    <input type="text" class="form-control form-control-sm" required
                                                        id="equipment" [(ngModel)]="model.equipment" name="equipment"
                                                        #equipment="ngModel">

                                                    <div [hidden]="equipment.valid || equipment.pristine"
                                                        class="text-danger">
                                                        Equipment is required </div>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <div class="form-group">

                                                    <label for="equipment">Category<span
                                                            class="text-danger">*</span></label>

                                                    <select class="form-control form-control-sm" id="categoryId"
                                                        required [(ngModel)]="model.categoryId" name="categoryId"
                                                        #categoryId="ngModel">
                                                        <option [value]="x.id" *ngFor="let x of category"> {{x.name}}
                                                        </option>
                                                    </select>
                                                    <div [hidden]="categoryId.valid || categoryId.pristine"
                                                        class="alert alert-danger">
                                                        Category is required </div>

                                                </div>
                                            </div>



                                            <div class="mb-3">
                                                <div class="form-group">

                                                    <label for="brand">Brand</label>
                                                    <input type="text" class="form-control form-control-sm" id="brand"
                                                        [(ngModel)]="model.brand" name="brand" #brand="ngModel">

                                                    <!-- <div [hidden]="equipment.valid || equipment.pristine" class="text-danger">
                                                        Equipment is required </div> -->
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <div class="form-group">

                                                    <label for="equipment">Serial Number </label>
                                                    <input type="text" class="form-control form-control-sm"
                                                        id="serialNumber" [(ngModel)]="model.serialNumber"
                                                        name="serialNumber" #serialNumber="ngModel">

                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <div class="form-group">

                                                    <label for="equipment">Type </label>
                                                    <input type="text" class="form-control form-control-sm" required
                                                        id="type" [(ngModel)]="model.type" name="type" #type="ngModel">

                                                    <!-- <div [hidden]="equipment.valid || equipment.pristine" class="text-danger">
                                                        Equipment is required </div> -->
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <div class="form-group">
                                                    <label for="location">Location</label>
                                                    <select class="form-control form-control-sm" disabled
                                                        id="locationId" required [(ngModel)]="model.locationId"
                                                        name="locationId" #locationId="ngModel">
                                                        <option [value]="x.id" *ngFor="let x of location"> {{x.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-6">

                                            <div class="mb-3">
                                                <div class="form-group">

                                                    <label for="capacity ">Capacity</label>
                                                    <input type="text" class="form-control form-control-sm"
                                                        id="capacity " [(ngModel)]="model.capacity " name="capacity "
                                                        #capacity="ngModel">

                                                    <!-- <div [hidden]="capacity .valid || capacity .pristine" class="text-danger">
                                                        Equipment is required </div> -->
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <div class="form-group">
                                                    <label for="sparepart">Spare Part</label>
                                                    <select class="form-control form-control-sm" id="sparepartId"
                                                        required [(ngModel)]="model.sparepartId" name="sparepartId"
                                                        #sparepartId="ngModel">
                                                        <option [value]="x.id" *ngFor="let x of sparepart"> {{x.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <div class="form-group">
                                                    <label for="schedule">Schedule <span
                                                            class="text-danger">*</span></label>
                                                    <div class="input-group">
                                                        <input type="number" class="form-control form-control-sm"
                                                            id="schedule" [(ngModel)]="model.schedule" name="schedule">
                                                        <div class="btn btn-outline-secondary btn-sm">Month </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <div class="form-group">
                                                    <label for="purchaseDate">Purchase Date <span
                                                            class="text-danger">*</span></label>
                                                    <div class="input-group">
                                                        <input id="purchaseDate" class="form-control form-control-sm"
                                                            placeholder="yyyy-mm-dd" name="purchaseDate" ngbDatepicker
                                                            [(ngModel)]="model.purchaseDate" #dp="ngbDatepicker"
                                                            required />
                                                        <button class="btn btn-outline-secondary btn-sm"
                                                            (click)="dp.toggle()" type="button"><img
                                                                src="./assets/img/icons8-calendar-48.png" height="20">
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <div class="form-group">
                                                    <label for="warantyUntil">Waranty Until <span
                                                            class="text-danger">*</span></label>
                                                    <div class="input-group">
                                                        <input id="warantyUntil" class="form-control form-control-sm"
                                                            placeholder="yyyy-mm-dd" name="warantyUntil" ngbDatepicker
                                                            [(ngModel)]="model.warantyUntil" #dp2="ngbDatepicker"
                                                            required />
                                                        <button class="btn btn-outline-secondary btn-sm"
                                                            (click)="dp2.toggle()" type="button">
                                                            <img src="./assets/img/icons8-calendar-48.png" height="20">
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="mb-3">
                                                <div class="form-group">
                                                    <label for="supplier">Supplier</label>
                                                    <input type="text" class="form-control form-control-sm"
                                                        id="supplier" [(ngModel)]="model.supplier" name="supplier">
                                                </div>
                                            </div>


                                            <div class="mb-3">
                                                <div class="form-group">
                                                    <label for="description">Description</label>
                                                    <textarea class="form-control form-control-sm" id="description"
                                                        [(ngModel)]="model.description" name="description"></textarea>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="text-end">
                                        <button type="submit" class="btn btn-outline-dark btn-sm mx-1"
                                            (click)="cancel()">Cancel</button>
                                        <button type="submit" class="btn btn-success btn-sm"
                                            [disabled]="!heroForm.form.valid">Submit</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>

                    <div class="col-12 mt-2">
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <div class="row">
                                    <div class="col">
                                        <h6 class="m-0 font-weight-bold text-primary"> TRANSFER ITEM </h6>
                                    </div>
                                    <div class="col text-end">
                                        <button type="button" class="btn btn-sm btn-primary"
                                            (click)="open(modultransfer);">Add Transfer Location</button>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body">
                                <table class="table table-sm border">
                                    <thead>
                                        <tr>
                                            <th>Ticket ID</th>
                                            <th>Transfer Date</th>
                                            <th>History Location</th>
                                            <th>Note</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let x of transferList">
                                            <td> {{x.id}} </td>
                                            <td>{{x.scheduleDate}} </td>
                                            <td> {{x.location}} </td>
                                           
                                            <td>{{x.note}} </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mt-2">
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <div class="row">
                                    <div class="col">
                                        <h6 class="m-0 font-weight-bold text-primary"> IMAGES </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-sm">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Link</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let x of images; let i = index">
                                            <td> {{i+1}}</td>
                                            <td> <a href="javascript:;" (click)="zoom(imageZoom,x.url);">url
                                                    images</a>
                                            </td>
                                            <td> <a href="javascript:;" (click)="fnRemoveImg();">Remove</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>

<ng-template #imageZoom let-modal>
    <div class="modal-header">
        <strong class="modal-title" id="modal-basic-title">Zoom Images</strong>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <img [src]="img" width="100%">
    </div>
</ng-template>

<ng-template #content let-modal>
    <form (ngSubmit)="fnAddTrans()" #myTrans="ngForm">
        <div class="modal-header">
            <strong class="modal-title" id="modal-basic-title">Add Transaction</strong>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="schedule">Schedule</label>
                            <div class="input-group">
                                <input id="scheduleDate" class="form-control" placeholder="yyyy-mm-dd"
                                    name="scheduleDate" ngbDatepicker [(ngModel)]="transaction.scheduleDate"
                                    #dp="ngbDatepicker" required />
                                <button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button"><img
                                        src="./assets/img/icons8-calendar-48.png" height="20"> </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="cost">Cost</label>
                            <div class="input-group">
                                <input type="text" currencyMask class="form-control" id="cost" required
                                    [(ngModel)]="transaction.cost" name="cost">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="cost">Supplier</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="supplier" required
                                    [(ngModel)]="transaction.supplier" name="supplier">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="note">Note</label>
                            <textarea class="form-control" id="note" [(ngModel)]="transaction.note"
                                name="note"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark mx-1 btn-sm"
                (click)="modal.close('Save click')">Cancel</button>
            <button type="submit" class="btn btn-success mx-1 btn-sm" [disabled]="!myTrans.form.valid">Submit</button>
        </div>
    </form>
</ng-template>


<ng-template #openSchadule let-modal>
    <div class="modal-header">
        <strong class="modal-title" id="modal-basic-title">SCHEDULE DETAIL</strong>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-12">
                <div class="mb-3">
                    <div class="form-group">
                        <label for="schedule">Ticket ID</label>
                        <div class="form-control">{{scheduleDetail.id}}</div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="mb-3">
                    <div class="form-group">
                        <label for="schedule">Schedule</label>
                        <div class="input-group">
                            <input id="dd" class="form-control" placeholder="yyyy-mm-dd" name="dd" ngbDatepicker
                                [(ngModel)]="scheduleDetailDate" #dd="ngbDatepicker" required />
                            <button class="btn btn-outline-secondary" (click)="dd.toggle()" type="button"><img
                                    src="./assets/img/icons8-calendar-48.png" height="20"> </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="mb-3">
                    <div class="form-group">
                        <label for="cost">Cost</label>
                        <div class="input-group">
                            <input type="text" currencyMask class="form-control" id="cost" required
                                [(ngModel)]="scheduleDetail.cost" name="cost">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="mb-3">
                    <div class="form-group">
                        <label for="cost">Supplier</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="supplier" required
                                [(ngModel)]="scheduleDetail.supplier" name="supplier">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="mb-3">
                    <div class="form-group">
                        <label for="note">Note</label>
                        <textarea class="form-control" id="note" [(ngModel)]="scheduleDetail.note"
                            name="note"></textarea>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-outline-dark mx-1"
            (click)="modal.dismiss('Cross click')">Cancel</button>
        <button type="button" class="btn btn-sm btn-primary mx-1" (click)="fnDoneTrans();">Submit</button>

    </div>
</ng-template>


<ng-template #modultransfer let-modal>
    <div class="modal-header">
        <strong class="modal-title" id="modal-basic-title">ADD TRANSFER ITEMS</strong>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form (ngSubmit)="onTransfer()" #transForm="ngForm">
        <div class="modal-body">
           
            <div class="form-group">
                <label for="name">New Location</label>
                <select class="form-control" id="locationId" required [(ngModel)]="transfer.locationId"
                    name="locationId" #locationId="ngModel">
                    <option *ngFor="let x of location" [value]="x.id">{{x.name}}</option>
                </select>
                <div [hidden]="locationId.valid || locationId.pristine" class="alert alert-danger">
                    Location is required
                </div>
            </div>


            <div class="form-group">
                <label for="name">Transfer Date Schadule</label> 
                <div class="input-group">
                    <input id="bb" class="form-control" placeholder="yyyy-mm-dd" name="bb" ngbDatepicker
                        [(ngModel)]="transfer.date" #bb="ngbDatepicker" required />
                    <button class="btn btn-outline-secondary" (click)="bb.toggle()" type="button"><img
                            src="./assets/img/icons8-calendar-48.png" height="20"> </button>
                </div>
            </div>


            <div class="form-group">
                <label for="name">Notes</label> 
                <div class="input-group">
                    <input id="notes" class="form-control"  name="note"  [(ngModel)]="transfer.note"  />
                     
                </div>
            </div>


        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-outline-dark mx-1"
                (click)="modal.dismiss('Cross click')">Cancel</button>
            <button type="submit" class="btn btn-sm btn-primary mx-1" [disabled]="!transForm.form.valid">Submit</button>
        </div>
    </form>
</ng-template>