<nav class="navbar navbar-expand navbar-dark bg-dark nav-fixed" aria-label="Second navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">HRIS ver 1.0</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02"
      aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link " [ngClass]="{'active': active == 'home'}" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" [ngClass]="{'active': active == 'master'}" href="#"
            data-bs-toggle="dropdown" aria-expanded="false">Master Data</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="[ '/employee' ]">Employee</a></li>
            <li><a class="dropdown-item" [routerLink]="[ '/personal' ]">Personal</a></li>
            <li><a class="dropdown-item" [routerLink]="[ '/employment' ]">Employment</a></li>
            <li><a class="dropdown-item" [routerLink]="[ '/payroll' ]">Payroll</a></li>
            <hr>
            <li><a class="dropdown-item" [routerLink]="[ '/organization' ]">Organization and Branch</a></li>
            
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link " [ngClass]="{'active': active == 'tm'}" aria-current="page"
            [routerLink]="[ '/timeManagement' ]">Time Management</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " [ngClass]="{'active': active == 're'}" aria-current="page"
            [routerLink]="[ '/reimbursement' ]">Reimbursement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " [ngClass]="{'active': active == 'loan'}" aria-current="page"
            [routerLink]="[ '/loan' ]">Loan</a>
        </li>
      </ul>
      <ul class="navbar-nav ">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Herlina</a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">Setting</a></li>
            <li><a class="dropdown-item" href="#">Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>