<!-- Sidebar - Brand -->
<a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
  <div class="sidebar-brand-icon rotate-n-15">
    <i class="fas fa-laugh-wink"></i>
  </div>
  <div class="sidebar-brand-text mx-3">HRIS</div>
</a>

<!-- Divider -->
<hr class="sidebar-divider my-0">
<!-- Heading -->
<div class="sidebar-heading">
  Hi, {{user['name']}}
</div> 
<!-- Nav Item - Dashboard -->
<li class="nav-item  " [ngClass]="{'active': active == '_home'}">
  <a class="nav-link" [routerLink]="[ '/home' ]">
    <span>My Pages</span></a>
</li>

<!-- Divider -->
<hr class="sidebar-divider">


<li class="nav-item" [ngClass]="{'active': active == '_maintenance'}" [hidden]="nav['_maintenance'] == '0'">
  <a class="nav-link"  [routerLink]="[ '/maintenance' ]"> 
    <span>Maintenance</span></a>
</li>
 
<li class="nav-item" [ngClass]="{'active': active == '_timeManagement'}" [hidden]="nav['_timeManagement'] == '0'">
  <a class="nav-link"  [routerLink]="[ '/timeManagement' ]"> 
    <span>Time Management</span></a>
</li>

<li class="nav-item" [ngClass]="{'active': active == '_reimbursement'}" [hidden]="nav['_reimbursement'] == '0'">
  <a class="nav-link"  [routerLink]="[ '/reimbursement' ]"> 
    <span>Reimbursement</span></a>
</li>

<li class="nav-item" [ngClass]="{'active': active == '_loan'}" [hidden]="nav['_loan'] == '0'">
  <a class="nav-link"  [routerLink]="[ '/loan' ]"> 
    <span>Loan</span></a>
</li>

<!-- Master Data -->
<li class="nav-item" [ngClass]="{'active': active == '_masterData'}" [hidden]="nav['_masterData'] == '0'">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
    aria-controls="collapseTwo"> 
    <span>Master Data</span>
  </a>
  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <a class="collapse-item" [routerLink]="[ '/employee' ]">Employee</a>
      <a class="collapse-item" [routerLink]="[ '/organization' ]">Organization and Branch</a>
      <a class="collapse-item" [routerLink]="[ '/globalMasterData' ]">Global Master Data</a>
      <a class="collapse-item" [routerLink]="[ '/bpjs/setting' ]">BPJS Setting</a>
    </div>
  </div>
</li>
  
<li class="nav-item" [ngClass]="{'active': active == '_payroll'}" [hidden]="nav['_payroll'] == '0'">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Payroll" aria-expanded="true"
    aria-controls="Payroll"> 
    <span>Payroll</span>
  </a>
  <div id="Payroll" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <a class="collapse-item" [routerLink]="[ '/payroll' ]">Pph21</a>
      <a class="collapse-item" [routerLink]="[ '/payroll/salary' ]">Salary</a>
      <a class="collapse-item" [routerLink]="[ '/payroll/pph21-setting' ]">Setting</a> 
    </div>
  </div>
</li>
 

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
  Addons
</div>

   

<!-- Nav Item - Tables -->
<li class="nav-item">
  <a class="nav-link" href="javascript:;" (click)="logout();">
    <i class="fas fa-fw fa-table"></i>
    <span>Logout</span></a>
</li>

<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">


<!-- Sidebar Message -->
<div class="sidebar-card d-none d-lg-flex">
  <p class="text-center mb-2"><strong>HRIS</strong> ver {{ver}}</p>
</div>


<!-- End of Sidebar -->