<app-header></app-header>
 
<div class="container">
    <div class="row">
      <div class="col-12">
          <h4 class="my-3">  Payroll Setting </h4>
        </div>
    
      <div class="col-12">
        <div class="border shadow-sm rounded p-2 bg-white">
            <table class="table table-sm table border">
                <thead>
                    <tr>
                        <th>Jumlah Anak</th>
                        <th>PTKP Tidak Kawin</th>
                        <th>Amount</th>

                        <th>PTKP Kawin</th>
                        <th>Amount</th>

                        <th>PTKP Gabungan Suami Istri</th>
                        <th>Amount</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <td><input type="number" class="form-control "></td>
                        <td><input type="text" class="form-control "></td>
                        <td><input type="text" class="form-control "></td>

                        <td><input type="text" class="form-control "></td>
                        <td><input type="text" class="form-control "></td>
                        
                        <td><input type="text" class="form-control "></td>
                        <td><input type="text" class="form-control "></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
   
