<div class="container-fluid my-3">
  <div class="row">
    <div class="col-12 mb-3">
      <button type="button" (click)="back()" class="btn btn-outline-dark btn-sm">Back</button>


    </div>

    <div class="col-12">
      <div class="card shadow mb-3">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary"> PPH21 </h6>
        </div>
        <div class="card-body">
          <table class="table table-sm table-bordered table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Tax Salary</th>
                <th>Tunjangan</th>
                <th>PTKP</th>

                <th>BPJS {{thead.companyBPSJ}}%</th>
                <th>JKK {{thead.companyJKK}}%</th>
                <th>JKM {{thead.companyJKM}}%</th>
                <th>BRUTO</th>
                <th>By Jabatan </th>

                <th>BPJS {{thead.employeeBPSJ}}%</th>
                <th>JHT {{thead.employeeJHT}}%</th>
                <th>JP {{thead.employeeJP}}%</th>
                <th>NETTO </th>
                <th>PTKP </th>

                <th>PKP </th>
                <th>Pph21 Terutang setahun </th>
                <th>Pph21 Terutang sebulan</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let x of items; let i = index">
                <td>{{x.id}}</td>
                <td>{{x.name}}</td>
                <td>{{x.taxSalary |number}}</td>
                <td>{{x.tunjangan |number}}</td>
                <td> {{x.taxPtkpStatus}}</td>

                <td> {{x.bpjs |number}} </td>
                <td> {{x.jkk |number}} </td>
                <td> {{x.jkm |number}} </td>
                <td> {{x.bruto |number}}</td>
                <td> {{x.byJabatan |number}} </td>

                <td> {{x.bpjsKes |number}} </td>
                <td> {{x.jht |number}} </td>
                <td> {{x.jp |number}} </td>
                <td> {{x.netto |number}} </td>
                <td> {{x.ptkpAmount |number}} </td>

                <td>{{x.pkp |number}} </td>
                <td>{{x.pph21Year |number}} </td>
                <td> {{x.pph21Month |number}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>