<app-header></app-header>
<br>
<div class="container mb-5">
    <div class="row">
        <div class="col-6 mb-3">
            <h4> Pph21 Setting </h4>
        </div>

        <div class="col-6 mb-3 text-end">
            <button type="button" class="btn btn-sm btn-warning" [hidden]="!readonly"
                (click)="fnEditable();">Ediable</button>
        </div>

        <div class="col-12 mb-3">
            <div class="border shadow-sm rounded p-2 bg-white">
                <h4>Pph21 PTKP</h4>
                <table class="table table-sm table border">
                    <thead>
                        <tr>
                            <th width="70">Jumlah<br> Anak</th>
                            <th>PTKP <br>Tidak Kawin</th>
                            <th>Amount</th>

                            <th>PTKP <br>Kawin</th>
                            <th>Amount</th>

                            <th>PTKP <br>Gabungan <br>Suami Istri</th>
                            <th>Amount</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let x of ptkp">
                            <td><input type="number" [disabled]="readonly" maxlength="2" class="form-control "
                                    [(ngModel)]="x.jumlahAnak" name="jumlahAnak"></td>
                            <td><input type="text" [disabled]="readonly" class="form-control "
                                    [(ngModel)]="x.PTKPTidakKawinLabel" name="PTKPTidakKawinLabel"></td>
                            <td><input type="text" [disabled]="readonly" currencyMask class="form-control "
                                    [(ngModel)]="x.PTKPTidakKawin" name="PTKPTidakKawin"></td>

                            <td><input type="text" [disabled]="readonly" class="form-control "
                                    [(ngModel)]="x.PTKPKawinLabel" name="PTKPKawinLabel"></td>
                            <td><input type="text" [disabled]="readonly" currencyMask class="form-control "
                                    [(ngModel)]="x.PTKPKawin" name="PTKPKawin"></td>

                            <td><input type="text" [disabled]="readonly" class="form-control "
                                    [(ngModel)]="x.PTKPGabunganSuamiIstriLabel" name="PTKPGabunganSuamiIstriLabel"></td>
                            <td><input type="text" [disabled]="readonly" currencyMask class="form-control "
                                    [(ngModel)]="x.PTKPGabunganSuamiIstri" name="PTKPGabunganSuamiIstri"></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-12 mb-3">

            <div class="border shadow-sm rounded p-2 bg-white">
                <h4>Tarif Pajak</h4>
                <table class="table table-sm table border">
                    <thead>
                        <tr>
                            
                            <th class="text-end">Min Amount</th>
                            <th  class="text-end">Max Amount</th>
                            <th width="140" class="text-end">Tax Percent (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let x of tarif_pajak">
                 
                            <td><input type="text" [disabled]="readonly" currencyMask class="form-control "
                                    [(ngModel)]="x.minAmount" name="minAmount"></td>
                            <td><input type="text" [disabled]="readonly" currencyMask class="form-control "
                                    [(ngModel)]="x.maxAmount" name="maxAmount"></td>
                            <td><input type="number" [disabled]="readonly" TaxPercent class="form-control "
                                    [(ngModel)]="x.TaxPercent" name="TaxPercent"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>





<div class="footer bg-white border shadow-sm" [hidden]="readonly">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center p-2">
                    <button type="button" class="btn  btn-sm btn-outline-dark mx-1"
                        (click)="fnCancel();">Cancel</button>
                    <button type="button" class="btn  btn-sm btn-primary mx-1" (click)="fnSave();">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>