<app-header></app-header>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h4> Employee Salery</h4>
        </div>
        <div class="col-6">
            <a (click)="back();" class="btn btn-sm btn-outline-dark">Back</a>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-sm btn-warning" (click)="open(content)">New Salary Report</a>
        </div>
        <div class="col-12 my-2">
            <div class="border shadow-sm rounded p-2 bg-white mb-3">
                <div class="mb-3">
                    <b>Employee  Detail</b>
                </div>
                <code>{{personalData | json}}</code>
            </div>
        </div>
        <div class="col-12 mb-3">
            <div class="border shadow-sm rounded p-2 bg-white">
                <table datatable [dtOptions]="dtOptions" class="row-border hover"></table>
            </div>
        </div>
    </div>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
        <b class="modal-title" id="modal-basic-title">New Salery Report</b>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="row g-2">
                <div class="col-6">
                    <div class="mb-3">
                        <label for="dateOfBirth">Period Start </label>
                        <div class="input-group">
                            <input id="dateOfBirth" class="form-control" [(ngModel)]="periodStartDate"
                                placeholder="yyyy-mm-dd" name="dp1" ngbDatepicker #dp1="ngbDatepicker" />
                            <button class="btn btn-outline-secondary" (click)="dp1.toggle()" type="button"><img
                                    src="./assets/img/icons8-calendar-48.png" height="20"></button>
                        </div>

                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label for="dateOfBirth">Period End </label>
                        <div class="input-group">
                            <input id="dateOfBirth" class="form-control" [(ngModel)]="periodEndDate"
                                placeholder="yyyy-mm-dd" name="dp2" ngbDatepicker #dp2="ngbDatepicker" />
                            <button class="btn btn-outline-secondary" (click)="dp2.toggle()" type="button"> <img
                                    src="./assets/img/icons8-calendar-48.png" height="20"> </button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-outline-dark mx-1"
            (click)="modal.close('Save click')">Cancel</button>
        <button type="button" class="btn btn-sm btn-primary" (click)="fnGenerate();">Generate</button>

    </div>
</ng-template>