<div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <app-header></app-header>
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-12 my-4">
                <h4> Employee Detail </h4>
                <a (click)="back();" class="btn btn-sm btn-outline-dark">Back</a>
            </div>

            <div class="col-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link " [ngClass]="{'active': switch_expression==''}" href="javascript:;"
                            (click)="tab('')">Personal Data</a>
                    </li>


                    <li class="nav-item" [hidden]="!employmentId">
                        <a class="nav-link" [ngClass]="{'active': switch_expression=='employment'}" href="javascript:;"
                            (click)="tab('employment')">Employment</a>
                    </li>
                    <li class="nav-item" [hidden]="employmentId">
                        <a class="nav-link text-dark" href="javascript:;"
                            (click)="fnCreate('employment');"><em>Employment <img src="./assets/img/icons8-lock-24.png"
                                    height="20"></em></a>
                    </li>


                    <li class="nav-item" [hidden]="!payrollId">
                        <a class="nav-link" [ngClass]="{'active': switch_expression=='payroll'}" href="javascript:;"
                            (click)="tab('payroll')">Payroll</a>
                    </li>
                    <li class="nav-item" [hidden]="payrollId">
                        <a class="nav-link text-dark" href="javascript:;" (click)="fnCreate('payroll');"><em>Payroll
                                <img src="./assets/img/icons8-lock-24.png" height="20"></em></a>
                    </li>
                </ul>
            </div>

            <div class="col-12">
                <container-element [ngSwitch]="switch_expression">
                    <div *ngSwitchDefault><app-personal-detail></app-personal-detail></div>

                    <div *ngSwitchCase="'employment'"><app-employment-detail></app-employment-detail></div>
                    <div *ngSwitchCase="'payroll'"><app-payroll-detail></app-payroll-detail></div>

                  
                </container-element>
            </div>

        </div>

    </div>


</div>