<div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <app-header></app-header>
    </ul>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">

            <div class="container my-3">
                <div class="row g-3">
                    <div class="col-12">
                        <h4 class="mb-3 font-weight-bold text-primary"> Global Master Data </h4>
                    </div>

                    <div class="col-12 ">
                        <div class="card shadow mb-3">
                            <div class="card-header">
                                <strong class=" text-primary">
                                    Master Job Position
                                </strong>
                            </div>
                            <div class="card-body p-0">
                                <table class="table ">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Master Data</th>
                                            <th>Time Management</th>
                                            <th>Reimbursement</th>
                                            <th>Loan</th>
                                            <th>Payroll</th>
                                            <th>maintenance</th>

                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let x of employment_jobposition">
                                            <td> <input type="text" class="form-control" [(ngModel)]="x.name"
                                                    name="name">
                                            </td>

                                            <td class="text-center"> <input type="checkbox" [(ngModel)]="x._masterData"
                                                    name="_masterData"> </td>
                                            <td class="text-center"> <input type="checkbox"
                                                    [(ngModel)]="x._timeManagement" name="_timeManagement"> </td>
                                            <td class="text-center"> <input type="checkbox"
                                                    [(ngModel)]="x._reimbursement" name="_reimbursement"> </td>

                                            <td class="text-center"> <input type="checkbox" [(ngModel)]="x._loan"
                                                    name="_loan">
                                            </td>
                                            <td class="text-center"> <input type="checkbox" [(ngModel)]="x._payroll"
                                                    name="_payroll">
                                            </td>
                                            <td class="text-center"> <input type="checkbox" [(ngModel)]="x._maintenance"
                                                    name="_maintenance">
                                            </td>

                                            <td width="30px"><button class="btn btn-sm btn-outline-dark"
                                                    (click)="fnDelete('employment_jobposition',x);"><img
                                                        src="./assets/img/icons8-multiply-52.png" height="20"></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td class="text-end" colspan="7">
                                                <button class="btn btn-sm btn-outline-dark mx-1"
                                                    (click)="fnInsert('employment_jobposition')">Add Item</button>
                                            </td>
                                            <td>
                                                <button class="btn btn-sm btn-success mx-1"
                                                    (click)="fnSave_employment_jobposition();">Save</button>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>
                    </div>

                    <div class="col-4">
                        <div class="card shadow mb-3">
                            <div class="card-header">
                                <strong class=" text-primary"> MASTER JOB LEVEL </strong>
                            </div>
                            <div class="card-body p-0">
                                <table class="table ">
                                    <tbody>
                                        <tr *ngFor="let x of employment_joblevel">
                                            <td> <input type="text" class="form-control" [(ngModel)]="x.name"
                                                    name="name">
                                            </td>
                                            <td width="30px"><button class="btn btn-sm btn-outline-dark"
                                                    (click)="fnDelete('employment_joblevel',x);"><img
                                                        src="./assets/img/icons8-multiply-52.png" height="20"></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td class="text-end">
                                                <button class="btn btn-sm btn-outline-dark mx-1"
                                                    (click)="fnInsert('employment_joblevel')">Add Item</button>
                                            </td>
                                            <td>
                                                <button class="btn btn-sm btn-success mx-1"
                                                    (click)="fnSave_employment_joblevel();">Save</button>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
 

                    <div class="col-4 ">
                        <div class="card shadow mb-3">
                            <div class="card-header">
                                <strong class=" text-primary"> JABATAN AMOUNT AND PERCENT SETTING </strong>
                            </div>
                            <div class="card-body p-0">
                                <table class="table ">
                                    <tbody>
                                        <tr *ngFor="let x of global_setting_jabatan">
                                            <td>
                                                <div class="form-control"> {{x.name}} </div>
                                            <td> <input type="number" class="form-control text-end"
                                                    [(ngModel)]="x.value" name="value"> </td>

                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td class="text-end" colspan="2">


                                                <button class="btn btn-sm btn-success mx-1"
                                                    (click)="fnSave_global_setting_jabatan();">Save</button>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>

                    </div>
 

                    <div class="col-4 ">
                        <div class="card shadow mb-3">
                            <div class="card-header">
                                <strong class=" text-primary"> Reimbursement Name </strong>
                            </div>
                            <div class="card-body p-0">
                                <table class="table ">
                                    <tbody>
                                        <tr *ngFor="let x of reimbursement_name">
                                            <td> <input type="text" class="form-control" [(ngModel)]="x.name"
                                                    name="name">
                                            </td>
                                            <td width="30px"><button class="btn btn-sm btn-outline-dark"
                                                    (click)="fnDelete('employment_joblevel',x);"><img
                                                        src="./assets/img/icons8-multiply-52.png" height="20"></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td class="text-end">
                                                <button class="btn btn-sm btn-outline-dark mx-1"
                                                    (click)="fnInsert('reimbursement_name')">Add Item</button>
                                            </td>
                                            <td>
                                                <button class="btn btn-sm btn-success mx-1"
                                                    (click)="fnSave_reimbursement_name();">Save</button>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>


                    <div class="col-12">
                        <div class="card shadow mb-3">
                            <div class="card-header">
                                <strong class=" text-primary">
                                    Time Management Shift
                                </strong>
                            </div>
                            <div class="card-body p-0">
                                <table class="table ">
                                    <thead>
                                        <tr>
                                            <th>ID </th>
                                            <th>Name</th>
                                            <th>scheduleIn</th>
                                            <th>scheduleOut</th>

                                            <th>Sun</th>
                                            <th>Mon</th>
                                            <th>Tue</th>
                                            <th>Wed</th>
                                            <th>Thu</th>
                                            <th>Fri</th>
                                            <th>Sat</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let x of time_management_shift">
                                            <td>
                                                <input type="text" class="form-control" [(ngModel)]="x.id" name="id">
                                            </td>

                                            <td> <input type="text" class="form-control" [(ngModel)]="x.name"
                                                    name="name">
                                            </td>

                                            <td> <input type="time" class="form-control" [(ngModel)]="x.scheduleIn"
                                                    name="scheduleIn">
                                            </td>
                                            <td> <input type="time" class="form-control" [(ngModel)]="x.scheduleOut"
                                                    name="scheduleOut">
                                            </td>


                                            <td> <input type="checkbox" [(ngModel)]="x.Sun" name="Sun"> </td>
                                            <td> <input type="checkbox" [(ngModel)]="x.Mon" name="Mon"> </td>
                                            <td> <input type="checkbox" [(ngModel)]="x.Tue" name="Tue"> </td>
                                            <td> <input type="checkbox" [(ngModel)]="x.Wed" name="Wed"> </td>
                                            <td> <input type="checkbox" [(ngModel)]="x.Thu" name="Thu"> </td>
                                            <td> <input type="checkbox" [(ngModel)]="x.Fri" name="Fri"> </td>
                                            <td> <input type="checkbox" [(ngModel)]="x.Sat" name="Sat"> </td>


                                            <td width="30px"><button class="btn btn-sm btn-outline-dark"
                                                    (click)="fnDelete('time_management_shift',x);"><img
                                                        src="./assets/img/icons8-multiply-52.png" height="20"></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="2">
                                            
                                            </td>
                                            <td class="text-end" colspan="9">


                                                <button class="btn btn-sm btn-outline-dark mx-1"
                                                    (click)="fnInsert('time_management_shift')">Add Item</button>
                                            </td>
                                            <td>
                                                <button class="btn btn-sm btn-success mx-1"
                                                    (click)="fnSave_time_management_shift();">Save</button>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                               <div class="px-3"> <b> <small class="text-danger">ID tidak bisa diubah lagi!</small></b></div>
                            </div>
                        </div>
                    </div>



                    <div class="col-6">
                        <div class="card shadow mb-3">
                            <div class="card-header">
                                <strong class=" text-primary"> MAINTENANCE EQUIPMENT  </strong>
                            </div>
                            <div class="card-body p-0">
                                <table class="table ">
                                    <tbody>
                                        <tr *ngFor="let x of maintenance_equipment">
                                            <td> <input type="text" class="form-control" [(ngModel)]="x.name"
                                                    name="name">
                                            </td>
                                            <td width="30px"><button class="btn btn-sm btn-outline-dark"
                                                    (click)="fnDelete('maintenance_equipment',x);"><img
                                                        src="./assets/img/icons8-multiply-52.png" height="20"></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td class="text-end">
                                                <button class="btn btn-sm btn-outline-dark mx-1"
                                                    (click)="fnInsert('maintenance_equipment')">Add Item</button>
                                            </td>
                                            <td>
                                                <button class="btn btn-sm btn-success mx-1"
                                                    (click)="fnSave_maintenance_equipment();">Save</button>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>


                    <div class="col-6">
                        <div class="card shadow mb-3">
                            <div class="card-header">
                                <strong class=" text-primary"> MAINTENANCE CATEGORY   </strong>
                            </div>
                            <div class="card-body p-0">
                                <table class="table ">
                                    <tbody>
                                        <tr *ngFor="let x of maintenance_category">
                                            <td> <input type="text" class="form-control" [(ngModel)]="x.name"
                                                    name="name">
                                            </td>
                                            <td width="30px"><button class="btn btn-sm btn-outline-dark"
                                                    (click)="fnDelete('maintenance_category',x);"><img
                                                        src="./assets/img/icons8-multiply-52.png" height="20"></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td class="text-end">
                                                <button class="btn btn-sm btn-outline-dark mx-1"
                                                    (click)="fnInsert('maintenance_category')">Add Item</button>
                                            </td>
                                            <td>
                                                <button class="btn btn-sm btn-success mx-1"
                                                    (click)="fnSave_maintenance_category();">Save</button>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>



<div class="footer bg-white border shadow-sm" [hidden]="!loading">
    <div class="container">
        <div class="row">
            <div class="col-12 ">
                <div class="text-center py-2">
                    <b>Saving...</b>
                </div>
            </div>
        </div>
    </div>
</div>