<app-header></app-header>

<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <h4>Employee Master – Personal</h4>
    </div>
    <div class="col-6 mb-2 text-end">
      <button class="btn btn-primary btn-sm" type="button" (click)="open(content)">Add Employee</button>
    </div>
    <div class="col-12">
      <div class="border shadow-sm rounded p-2 bg-white">
        <table datatable [dtOptions]="dtOptions" class="row-border hover"></table>
      </div>
    </div>
  </div>
</div>


<ng-template #content let-modal>
  <form (ngSubmit)="onSubmit()" #myForm="ngForm">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Employee</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <div class="modal-body">

      <div class="row">
        <div class="col-6">
          <div class="mb-3">
            <label for="name">Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name"
              #name="ngModel">
            <div [hidden]="name.valid || name.pristine" class="text-danger small m-1">
              Name is required
            </div>
          </div>

          <div class="mb-3">
            <label for="name">Phone</label>
            <input type="text" class="form-control" id="phone" [(ngModel)]="model.phone" name="phone" #phone="ngModel">
          </div>

          <div class="mb-3">
            <label for="name">Email</label>
            <input type="text" class="form-control" [email]="true" id="email" [(ngModel)]="model.email" name="email"
              #email="ngModel">
            <div [hidden]="email.valid || email.pristine" class="text-danger small m-1">
              Email valid is required
            </div>
          </div>
        </div>

        <div class="col-6">

          <div class="mb-3">
            <label for="name">Gender <span class="text-danger">*</span></label>
            <select class="form-control" required id="gender" [(ngModel)]="model.gender" name="gender"
              #gender="ngModel">
              <option value="M">Male</option>
              <option value="F">Female</option>
            </select>
            <div [hidden]="gender.valid || gender.pristine" class="text-danger small m-1">
              Gender is required
            </div>
          </div>


          <div class="mb-3">
            <label for="dateOfBirth">Date of birth</label>
            <div class="input-group">
              <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                #dp="ngbDatepicker" [(ngModel)]="model.birthDate" />
              <button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button">
                <img src="./assets/img/icons8-calendar-48.png" height="20">
              </button>
            </div>
          </div>

        </div>
      </div>



    </div>
    <div class="modal-footer">
      <code>
      {{model | json}}
    </code>
      <a href="javascript:;" (click)="onSubmit();">next</a>
      <button type="button" class="btn btn-light mx-2" (click)="modal.close('Save click')">Cancel</button>
      <button type="submit" class="btn btn-success" [disabled]="!myForm.form.valid">Submit</button>

    </div>
  </form>
</ng-template>