<div id="wrapper">
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <app-header></app-header>
  </ul>

  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <nav class="navbar navbar-expand  bg-body-secondary" aria-label="Second navbar example">
        <div class="container-fluid">

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02"
            aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" [routerLink]="[ '/loan' ]">Request Loan </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" [routerLink]="[ '/loan/history' ]"><b>Loan History </b></a>
              </li>
            </ul>

          </div>
        </div>
      </nav>

      <div class="container my-3">
        <div class="row ">
         
          <div class="col-12">
            <div class="card shadow mb-3">
              <div class="card-header py-3">
                <div class="row">
                    <div class="col">
                        <h6 class="m-0 font-weight-bold text-primary"> LOAN HISTORY</h6>
                    </div>
                     
                </div>
            </div>
              <div class="card-body">
                <table datatable [dtOptions]="dtOptions" class="row-border hover"></table>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>


</div>