<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="py-5">
                <div class="header">
                    <p>Perjanjian Kerja</p>
                </div>
                <div class="section">

                    <ol>
                        <li>
                            <p>Perjanjian ini dibuat dan ditandatangani pada tanggal <b>{{item['dateJoinEnd'] | date:'d-MMMM-y'}}</b> antara 
                                <b>{{globalSetting['companyName']}}</b>,  <b>{{globalSetting['CompanyAddress']}}</b> ("Perusahaan") dan 
                                <b>{{personal['name']}}</b>, <b>{{personal['address']}}</b> ("Karyawan").</p>
                        </li>


                        <li>
                            <p>Karyawan setuju untuk bekerja dengan Perusahaan sebagai [jabatan karyawan] dan
                                bertanggung
                                jawab langsung
                                kepada [nama atasan karyawan] ("Atasan").</p>
                        </li>


                        <li>
                            <p>Karyawan setuju untuk bekerja selama [durasi kontrak] dimulai dari tanggal [tanggal
                                mulai
                                kontrak]. Kontrak
                                kerja ini akan diperbarui secara otomatis dengan durasi yang sama jika tidak ada
                                pemberitahuan
                                tertulis dari
                                salah satu pihak.</p>
                        </li>
                        <li>
                            <p>Karyawan setuju untuk bekerja dengan jam kerja [jam kerja karyawan] per hari, [hari
                                kerja
                                karyawan] per
                                minggu, dengan waktu istirahat yang telah ditentukan oleh Perusahaan.</p>
                        </li>
                        <li>
                            <p>Gaji Karyawan ditentukan sebesar [jumlah gaji] per [satuan waktu], dibayarkan
                                [frekuensi
                                pembayaran gaji].
                                Gaji karyawan akan direvisi secara teratur dan diatur oleh Perusahaan berdasarkan
                                penilaian
                                kinerja dan
                                kebijakan Perusahaan.</p>
                        </li>
                        <li>
                            <p>Selama durasi Kontrak Kerja, Karyawan setuju untuk mematuhi semua kebijakan, prosedur,
                                dan
                                aturan Perusahaan,
                                yang termasuk tetapi tidak terbatas pada kebijakan keamanan, privasi, dan penyalahgunaan
                                narkoba. Karyawan
                                setuju untuk melaksanakan tugas dan tanggung jawab dengan penuh dedikasi dan
                                profesionalisme.
                            </p>
                        </li>
                        <li>
                            <p>Karyawan setuju untuk tidak menggunakan informasi rahasia dan/atau hak kekayaan
                                intelektual
                                yang dimiliki atau
                                dikembangkan oleh Perusahaan dalam kepentingan pribadi atau untuk kepentingan pihak
                                ketiga tanpa
                                izin tertulis
                                dari Perusahaan.</p>
                        </li>
                        <li>
                            <p>Karyawan setuju untuk memberikan pemberitahuan tertulis minimal [jumlah waktu] sebelum
                                berhenti dari
                                pekerjaannya. Perusahaan berhak memberikan pemberitahuan tertulis minimal [jumlah waktu]
                                sebelum
                                mengakhiri
                                kontrak kerja.</p>
                        </li>
                        <li>
                            <p>Karyawan setuju untuk menyerahkan dokumen-dokumen yang berkaitan dengan pekerjaan atau
                                yang
                                dimiliki oleh
                                Perusahaan pada saat kontrak kerja berakhir atau ketika diminta oleh Perusahaan.</p>
                        </li>

                        <li>
                            <p>Kontrak kerja ini mengikat dan menguntungkan kedua belah pihak. Kontrak ini hanya
                                dapat
                                diubah atau
                                dimodifikasi secara tertulis dan harus disetujui oleh kedua belah pihak.</p>
                        </li>



                    </ol>



                </div>

                 

                <div class="row">
                    <div class="col-6">
                        <p>Perusahaan:</p><br><br><br><br>
                        <p>[nama dan tanda tangan perwakilan perusahaan]</p>
                    </div>

                    <div class="col-6">
                        <p>Karyawan:</p><br><br><br><br>
                        <p>[nama dan tanda tangan karyawan]</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>