<div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <app-header></app-header>
    </ul>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav class="navbar navbar-expand  bg-body-secondary" aria-label="Second navbar example">
                <div class="container-fluid">

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarsExample02">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link " aria-current="page" [routerLink]="[ '/reimbursement/' ]">Request
                                    Approve</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page"
                                    [routerLink]="[ '/reimbursement/history' ]"><b>History</b> </a>
                            </li>

                        </ul>
                        <ul class="navbar-nav ">
                            <li class="nav-item dropdown">
                                <a [routerLink]="[ '/reimbursement/add' ]" class="btn btn-sm btn-primary mx-3">ADD  REIMBURSEMENT   REQUEST  </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container mt-4">

                <div class="row mt-3">

                    <div class="col-12">
 
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary"> REIMBURSEMENT HISTORY</h6>
                            </div>
                            <div class="border shadow-sm rounded p-2 bg-white">
                                <table datatable [dtOptions]="dtOptions" class="table " id="dataTable"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>