<app-header></app-header>
<div class="wrapper">
    <div class="container pt-4">
        <div class="row ">
            <div class="col-6 ">
                <h4>Time Management </h4>
            </div>
            <div class="col-6 text-end">
                <a [routerLink]="[ '/timeManagement/import' ]" class="{{styleBtn}}">Imports File</a> 
            </div>

            <div class="col-12">
                <div class="border shadow-sm rounded p-4 bg-white mt-2">

                    <div class="row">
                        <div class="col">
                            <label for="startDate"><b>Start Date</b></label>
                            <div class="input-group">
                                <input id="startDate" class="form-control" placeholder="yyyy-mm-dd" name="startDate"
                                    ngbDatepicker #dp="ngbDatepicker" [(ngModel)]="startDate" [maxDate]="today" />
                                <button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button">
                                    <img src="./assets/img/icons8-calendar-48.png" height="20">
                                </button>
                            </div>
                        </div>

                        <div class="col">
                            <label for="endDate"><b>End date</b></label>
                            <div class="input-group">
                                <input id="endDate" class="form-control" placeholder="yyyy-mm-dd" name="endDate"
                                    ngbDatepicker #dpx="ngbDatepicker" [(ngModel)]="endDate" [maxDate]="today" />
                                <button class="btn btn-outline-secondary" (click)="dpx.toggle()" type="button">
                                    <img src="./assets/img/icons8-calendar-48.png" height="20">
                                </button>
                            </div>
                        </div>

                        <div class="col-12 ">
                            <div class="mt-3">
                                <label for="personal"><b>Employee</b></label>
                                <select class="form-control" [(ngModel)]="personalId">
                                    <option *ngFor="let x of personalSelect" [value]="x.personalId">
                                        {{x.personalId}} {{x.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-12 mt-3 d-grid"> 
                            <button type="button" class="btn btn-primary" [disabled]="!personalId" (click)="fnNext();">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>