<div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <app-header></app-header>
    </ul>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <nav class="navbar navbar-expand bg-white  shadow-sm mb-3">
                <div class="container">

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarsExample02">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page">Dashboard </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " aria-current="page"
                                    [routerLink]="[ '/home/reimbursement/history' ]">Reimbursement History </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link " aria-current="page" [routerLink]="[ '/home/loan/history' ]">Loan
                                    History </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " aria-current="page" [routerLink]="[ '/home/timeManagement' ]">
                                    <b>Time Management </b></a>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>

            <div class="container">

                <div class="row mb-3">
                    <div class="col-12 mb-2 text-end">
                        <!-- <button type="button" class="btn btn-sm btn-primary" (click)="rerender()">reload</button> -->
                        <button type="button" class="btn btn-sm btn-primary" (click)="open(content)">Add New</button>

                    </div>
                    <div class="col-12">
                        <div class="card shadow mb-4">

                            <div class="card-body">
                                <table datatable [dtOptions]="dtOptionsReimbursement" [dtTrigger]="dtTrigger"
                                    class="table " id="dataTable"> </table>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>



    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->


<ng-template #content let-modal>

    <form (ngSubmit)="onSubmitModel()" #heroForm3="ngForm">
        <div class="modal-header">
            <strong class="modal-title" id="modal-basic-title">model Detail</strong>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col">


                    <div class="mb-3">
                        <div class="form-group">
                            <label for="company">Company</label>
                            <input type="text" class="form-control" id="company" required [(ngModel)]="model.company"
                                name="company" #company="ngModel">
                            <div [hidden]="company.valid || company.pristine" class="text-danger">
                                Company is required
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-group">
                            <label for="position">Position</label>
                            <input type="text" class="form-control" id="position" required [(ngModel)]="model.position"
                                name="position" #position="ngModel">
                            <div [hidden]="position.valid || position.pristine" class="text-danger">
                                Position is required
                            </div>
                        </div>
                    </div>


                    <div class="mb-3">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="startYear">Start Year</label>
                                    <div class="input-group">
                                        <input id="startYear" class="form-control" readonly
                                            [(ngModel)]="model.startYear" placeholder="yyyy-mm-dd" name="dp11"
                                            ngbDatepicker #dp11="ngbDatepicker" />
                                        <button class="btn btn-outline-secondary bi bi-calendar3"
                                            (click)="dp11.toggle()" type="button"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="endYear">End Year</label>
                                    <div class="input-group">
                                        <input id="endYear" class="form-control" readonly [(ngModel)]="model.endYear"
                                            placeholder="yyyy-mm-dd" name="dp12" ngbDatepicker #dp12="ngbDatepicker" />
                                        <button class="btn btn-outline-secondary bi bi-calendar3"
                                            (click)="dp12.toggle()" type="button"></button>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>


                </div>

            </div>



            {{model | json}}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>

            <button type="submit" class="btn btn-success" [disabled]="!heroForm3.form.valid">Submit</button>
        </div>
    </form>

</ng-template>