   <app-header></app-header>

<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h4>Organization and Branch </h4>
        </div>
        <div class="col-12 mb-4">
            <div class="border bg-white rounded shadow-sm p-3">
                <table class="table table-sm table-bordered ">
                    <thead>
                        <tr>
                            <th width="50">No</th>
                            <th>Organization Name</th>
                            <th width="80">Delete</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let x of items; let index = index">
                            <td> {{index+1}}</td>
                            <td>
                                <div> 
                                   <input type="text" class="form-control form-control-sm" (change)="fnUpdate(x,'organization');" [(ngModel)]="x.name" name="name">
                                             
                                </div>

                                <div [hidden]="x['branch'].length < 1">
                                    <table class="table mb-0 table-sm table-bordered my-2">
                                        <thead>
                                            <tr>
                                                <th width="50">No</th>
                                                <th>Branches</th>
                                                <th width="80">Remove</th>
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let b of x['branch']; let n = index">
                                                <td>{{n+1}}</td>
                                                <td>  
                                                    <input type="text" class="form-control form-control-sm" (change)="fnUpdate(b,'branch');" [(ngModel)]="b.name" name="name">
                                                </td>
                                                <td >
                                                    <button type="button" class="btn btn-sm btn-danger" (click)="fnDelete(b,'branch')">Remove</button>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </td>
                            <td>
                                <button type="button" class="btn btn-sm btn-danger" (click)="fnDelete(x,'organization')">Remove</button>

                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>