/* You can add global styles to this file, and also import other style files */
.nav-fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 99;
}

/* body {
    margin-top: 55px;
} */

.form-control {
    background-color: rgb(244, 243, 243);
} 

/* .wrapper {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
} */
.sidebar .nav-item .nav-link {
    padding: 5px 1rem;
}
label{
    font-size: 0.9rem;
    line-height: 0.5rem;
}
@media print {

    .nav-fixed {
        display: none;
    }

    body {
        background-color: #fff;
        margin-top: 0px;
    }

    .navbar-nav,
    #accordionSidebar,
    .disable-printing {
        display: none; 
    }
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: auto;
    z-index: 99;
    opacity: 0.9;
}