<div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <app-header></app-header>
    </ul>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <nav class="navbar navbar-expand bg-white  shadow-sm mb-3">
                <div class="container">

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarsExample02">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link" ><b>Dashboard</b> </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " 
                                    [routerLink]="[ '/home/reimbursement/history' ]">Reimbursement History </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link "  [routerLink]="[ '/home/loan/history' ]">Loan
                                    History </a>
                            </li>
                         

                            <li class="nav-item">
                                <a class="nav-link "  [routerLink]="[ '/home/requestHoliday' ]"> Request Holiday </a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link " (click)="getHistoryPresence()"  > History Working Time </a>
                            </li> -->
                        </ul>

                    </div>
                </div>
            </nav>
  
            <div class="container"> 
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <div class="row">
                                    <div class="col">
                                        <h6 class="m-0 font-weight-bold text-primary">REQUEST HOLIDAY </h6>
                                    </div> 
                                </div>
                            </div>
                            <div class="card-body"> 
                                <table datatable [dtOptions]="dtOptionsReqestHoliday" class="table " id="dataTable"> </table>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-12">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <div class="row">
                                    <div class="col">
                                        <h6 class="m-0 font-weight-bold text-primary">REQUEST REIMBURSEMENT </h6>
                                    </div>
                                    <div class="col text-end">
                                        <a [routerLink]="[ '/home/reimbursement/add' ]"
                                            class="btn btn-sm btn-success mx-1">ADD REQUEST REIMBURSEMENT </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">

                                <table datatable [dtOptions]="dtOptionsReimbursement" class="table " id="dataTable">
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">

                    <div class="col-12">
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <div class="row">
                                    <div class="col">
                                        <h6 class="m-0 font-weight-bold text-primary"> REQUEST LOAN </h6>
                                    </div>
                                    <div class="col text-end">
                                        <a [routerLink]="[ '/home/loan/add' ]" class="btn btn-sm btn-success mx-1">ADD
                                            REQUEST
                                            LOAN </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">

                                <table datatable [dtOptions]="dtOptionsLoan" class="table " id="dataTable">
                                </table>
                            </div>
                        </div>
                    </div>




                </div>
            </div> 

        </div>
        <!-- End of Main Content -->



    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->