<app-header></app-header>

<div class="container ">
  <div class="row ">
    <div class="col-12 my-2">
      <h4>Loan Detail</h4>
      <button class="btn btn-outline-dark btn-sm" type="button" (click)="back();">Back</button>
    </div>
    
    <div class="col-12 mb-5">
      <div class="border shadow-sm rounded p-2 bg-white">
        <table   class="table  table-striped">
            <thead>
                <tr>
                    <th>Installment</th>
                    <th>Payment date</th>

                    <th  class="text-end">Basic Payment</th>
                   
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let x of items; let i = index">  
                    <td> {{x.installment}}</td>
                    <td> {{x.paymentDate}}</td> 
                 
                    <td class="text-end">Rp {{x.paymentAmount | number}}</td>
                    
                </tr>
            </tbody>

        </table>
      </div>
    </div>
  </div>
</div>
 