<div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <app-header></app-header>
    </ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">

            <div class="container my-3">
                <div class="row">

                    <div class="col-12">
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <div class="row">
                                    <div class="col">
                                        <h6 class="m-0 font-weight-bold text-primary"> Inventaris</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <table class="table table-sm">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Qty</th>
                                            <th>Avaiable</th>
                                            <th>Loaned</th>

                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let x of items; let i = index">
                                            <td> {{i+1}}</td>
                                            <td> {{x.name}}</td>
                                            <td> {{x.qty}}</td>
                                            <td> {{x.avaiable}} </td>
                                            <td> {{x.loaned}} </td>


                                            <td>
                                                <a class="btn btn-sm" [routerLink]="[ '/invetory/detail' ]"
                                                    [queryParams]="{id:x.id}"><i class="bi bi-plus-square-fill"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>

                            </div>

                            <div class="card-footer">
                                <div class="text-end">
                                    <button class="btn btn-sm btn-light mx-1" (click)="open(content)">Add Item</button>
                                    
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Profile update</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
				<label for="dateOfBirth">Item Name</label>
				<div class="input-group">
					 <input type="text" class="form-control" [(ngModel)]="newItem.name" name="name">
				</div>
			</div>

            <div class="mb-3">
				<label for="dateOfBirth">Qty</label>
				<div class="input-group">
					 <input type="number" class="form-control"  [(ngModel)]="newItem.qty" name="qty">
				</div>
			</div>
		</form>
        
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>

        <button type="button" class="btn btn-outline-dark" [disabled]="newItem.name == '' " (click)="onSubmit()">Submit</button>
	</div>
</ng-template>