<div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <app-header></app-header>
    </ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">

            <div class="container my-3">
                <div class="row">

                    <div class="col-12">
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <div class="row">
                                    <div class="col">
                                        <h6 class="m-0 font-weight-bold text-primary"> Inventaris</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <table class="table table-sm">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Qty</th>
                                            <th>Stock</th>
                                            <th>Rent</th>
                                            
                                            <th ></th> 
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let x of items; let i = index">
                                            <td> {{i+1}}</td>
                                            <td> {{x.name}}</td>
                                            <td> {{x.qty}}</td>

                                            <td> {{x.stock}} </td>
                                            <td> {{x.rent}} </td> 
                                          
                                            <td>
                                                <a class="btn btn-sm" [routerLink]="[ '/invetory/detail' ]" [queryParams]="{id:x.id}"><i class="bi bi-plus-square-fill"></i></a> 
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="5" class="text-end">
                                                <button class="btn btn-sm btn-light mx-1" (click)="addRow()">Add  Row</button>
                                                <button class="btn btn-sm btn-primary"  (click)="onUpdate()">Update</button>
                                            </td>
                                            <td></td>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>